google-genai
streamlit==1.41.1
requests==2.32.3
python-dotenv==1.0.1
PyPDF2==3.0.1
clipboard==0.0.4
langchain==0.3.14
langchain-community==0.3.14
langchain-google-genai==2.0.8
google-generativeai==0.8.3
google-genai
google-api-core
sentence-transformers
faiss-cpu==1.9.0.post1
markdown==3.7
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
